@tailwind base;
h1 {
  font-size: xxx-large;
  font-weight: inherit;
}

h2 {
  font-size: xx-large;
  font-weight: inherit;
}

h3 {
  font-size: x-large;
  font-weight: inherit;
}

.h-128 {
  height: 32rem;
}

.h-192 {
  height: 48rem;
}

input {
  font-size: 1rem !important
}

textarea {
  font-size: 1rem !important
}

.border-b-2, .border-l-2 {
  border-color: #451A03; /* bg-amber-500 */
}
@tailwind components;
@tailwind utilities;
