@tailwind base;
h1 {
  font-size: xxx-large;
  font-weight: inherit;
}

h2 {
  font-size: xx-large;
  font-weight: inherit;
}

h3 {
  font-size: x-large;
  font-weight: inherit;
}

h4 {
  font-size: large;
  font-weight: inherit;
}

.h-128 {
  height: 32rem;
}

.h-192 {
  height: 48rem;
}

input {
  font-size: 1rem !important
}

textarea {
  font-size: 1rem !important
}

.border-b-2, .border-l-2 {
  border-color: #451A03; /* bg-amber-500 */
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.4);
  outline: 0px;
  border-radius: 10px;
}
@tailwind components;
@tailwind utilities;
